.bar {
  padding: 30px;
}
.custom-tooltip-activity {
  background-color: red;
  color: white;
  padding: 10px;
}
.activity {
  background-color: rgba(251, 251, 251, 1);
  padding: 50px 20px 0px 20px;
  position: relative;
  h3 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 15px;
    font-weight: 500;
  }
  .text-color {
    color: rgba(116, 121, 140, 1);
  }
}