.sidebar {
  width: 10%;
  height: calc(100vh - 104px);
  background-color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0 0 2rem;

    li {
      width: 64px;
      height: 64px;
      background-color: #fff;

      @media (max-width: 1024px) {
        width: 48px;
        height: 48px;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
      }
    }
  }

  p {
    color: #FFF;
    transform: rotate(-90deg);
  }
}